.infos {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    padding: 20px;
    height: 90vh; /* Altura igual à altura da tela */
  }
  
  .infos h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333; /* Cor do texto */
  }
  
  .infos p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #666; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
  }
  
  /* Efeito de hover para realçar os elementos */
  .infos h2:hover {
    color: #ff4500; /* Cor do texto ao passar o mouse */
  }
  
  .infos img{
    width: 50%; /* Define a largura da imagem para 100% do contêiner */
    max-width: 500px; /* Define a largura máxima da imagem */
    display: block; /* Para centralizar a imagem */
    margin: 0 auto; /* Para centralizar a imagem */
  }