.pacotes-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .pacotes-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
  }
  
  .pacotes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .pacote-card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .pacote-card:hover {
    transform: translateY(-5px);
  }
  
  .pacote-imagem {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .pacote-card h2 {
    font-size: 1.5rem;
    margin: 20px;
  }
  
  .pacote-card p {
    font-size: 1rem;
    color: #666;
    margin: 0 20px;
  }
  
  .pacote-card span {
    display: block;
    font-size: 1.2rem;
    color: #005d8d;
    margin: 20px;
  }
  
  /* Centralizando o botão dentro do card */
.pacote-card .reservar-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #005d8d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .pacote-card .reservar-btn:hover {
    background-color: #004472;
  }
  
  /* Modal */
  .modal {
    background-color: white;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Centralizando o modal */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.75);
  }
  
  /* Cabeçalho do modal */
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  /* Botão para fechar o modal */
  .close-modal-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  /* Estilos para o formulário */
  .reservation-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .reservation-form label {
    margin-bottom: 10px;
  }
  
  .reservation-form input {
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }
  
  /* Botão de confirmação dentro do modal */
  .confirm-btn {
    margin-top: 20px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
    width: 100%;
    max-width: 200px;
    text-align: center;
  }
  
  .confirm-btn:hover {
    background-color: #218838;
  }

  .message {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
  }
  
  .message.success {
    color: green;
  }
  
  .message.error {
    color: red;
  }
  